html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

body {
  overflow: hidden;
  position: fixed;
  background-image: URL(https://www.dollartree.com/file/products/20210406-4_main-big.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  text-align: center;
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: rgba(198, 88, 88, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(246, 59, 59, 0.25);
  border-radius: 10px;
}

.nav {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
  margin: 10px 0;
  background: rgba(255,255,255,0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
}

.navtext {
  font-size: 40px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: rgb(57, 54, 54);

}

.navtext:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navtext.active {
  opacity: 0.2;
}


.main {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.home {
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid green;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 50px;
  width: 50%;
}

.objectList {
  overflow: scroll;
  border: 1px solid rgb(25, 132, 15);
  border-radius: 10px;
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.objectItem {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}

.createButton {
  border: 1px solid rgb(102, 115, 228);
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 200px;
  background: rgba(90, 205, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.hover-red, .hover-yellow {
  cursor: pointer; 
}

.hover-red:hover {
  color: red;
}

.hover-yellow:hover {
  color: yellow;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(25, 132, 15);
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  padding: 10px 0;
  height: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  max-height: 500px;
  overflow: scroll;

}

.topping-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
}

.topping-increments {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.objectItem:hover {
  border: 1px dashed yellow;
  text-shadow: 1px 1px 1px black;
}

.expandedItem {
  background: rgba(103, 192, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(102, 115, 228);
  border-radius: 10px;
  margin-top: 10px;
  color: black
}

.expandedBody {
  display: flex;
  flex-direction: row;
}

.expandedText {
  color: black;
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.expandedImageContainer {
  margin: 10px;
  width: 300px; 
  height: 200px; 
  overflow: hidden;  
  position: relative;
}

.expandedImageContainer img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 400px) {
  body {

  }

  #root {
    width: auto;

  }

  .app {
    width: auto;

  }

  .header{
    font-size: 20px;
  }
  
  .nav {
    overflow: scroll;
    width: 300px;
    gap: 10px;
  }

  .navtext {
    font-size: 10px;
    padding: 5px;

  }
  
  .navtext:hover {

  }
  
  .navtext.active {
    color: rgb(92, 116, 121);
  }
  
  .main {
    border-radius: 10px;
    width: 300px;
  }
  
  .home {
    padding: 14% 0;
    font-size: 20px;
    margin-top: 90px;
    width: auto;
    height: auto;
  }
  
  .objectList {
    border-radius: 10px;
    padding: 10px;
    width: 200px;  
    height: auto;
    max-height: 300px;



  }
  
  .objectItem {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 10px;
    height: 50px;

  }
  
  .objectItem:hover {
  }

  .createButton {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 10px;
    height: 30px;
    text-align: center;
  }
  
  .expandedItem {
    border-radius: 10px;
    margin-top: 10px;
    width: 350px;
    font-size: 10px;

  }
  
  .expandedBody {

  }
  
  .expandedText {
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 200px;
  }
  
  .expandedImageContainer {
    margin: 10px;
    width: 150px;
  }

  .form-container {
    height: 400px;
  }

  .form {
    max-height: 300px;
  }

  .ingredient-select {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    min-width: 200px;
  }

  .ingredient-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

  }

  .ingredient-toggle {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .ingredient-arrow {
    background-color: gray;
    border: 1px solid black;
    width: 10px;
  }

  .ingredient-amount {
    width: 10px
  }
}