/* @font-face {
  font-family: Magic;
  src: url(assets/Magic.ttf);
}

@font-face {
  font-family: Elegant;
  src: url(assets/ElegantB.ttf);
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

body {
  overflow: hidden;
  position: fixed;
  /* scroll-behavior: none; */
  background-image: URL(https://www.dollartree.com/file/products/20210406-4_main-big.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgb(57, 14, 68); */

  /* background-image: repeating-conic-gradient(from 30deg, #3e02c9 0% 60deg, #801111 0% 120deg);
  background-size: 100px 50px;
  background-color: #801111; */

  /* background: radial-gradient(circle, transparent 20%, #801010 20%, #801010 80%, transparent 80%, transparent) 0% 0% / 76px 76px, radial-gradient(circle, transparent 20%, #801010 20%, #801010 80%, transparent 80%, transparent) 38px 38px / 76px 76px, linear-gradient(#6c3ddb 2px, transparent 2px) 0px -1px / 38px 38px, linear-gradient(90deg, #6c3ddb 2px, #801010 2px) -1px 0px / 38px 38px #801010;
  background-size: 76px 76px, 76px 76px, 38px 38px, 38px 38px;
  background-color: #801010; */

  /* background: repeating-conic-gradient(from 45deg, #5b1b12 0% 25%, #af730c 0% 50%);
  background-size: 100px 50px;
  background-color: #ecac04; */

  /* background-image: radial-gradient(#f0a62b 2px, transparent 2px), radial-gradient(#f0a62b 2px, transparent 2px);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
  background-color: #521263; */
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  /* background-color: rgb(0, 0, 0, .7); */
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  text-align: center;
  /* color: black; */
  /* font-family: Magic; */
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: rgba(198, 88, 88, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(246, 59, 59, 0.25);
  border-radius: 10px;

  /* justify-content: space-around; */
}

.nav {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  /* border-radius: 10px; */
  /* background-color: rgb(229, 192, 192); */
  /* padding: 10px; */
  /* width: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
  margin: 10px 0;
  background: rgba(255,255,255,0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
}

.navtext {
  /* font-family: Magic; */
  font-size: 40px;
  /* color: white; */
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
  /* border-radius: 10px; */
}

.navtext:hover {
  color: rgb(43, 204, 240);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navtext.active {
  opacity: 0.2;
}


.main {
  border-radius: 10px;
  /* padding: 10px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.home {
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid green;
  padding: 14% 0;
  /* color: black; */
  /* font-family: Magic; */
  text-align: center;
  font-size: 50px;
}

.objectList {
  overflow: scroll;
  border: 1px solid rgb(25, 132, 15);
  border-radius: 10px;
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  /* background-color: rgb(167, 215, 166); */
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.objectItem {
  border: 1px solid white;
  border-radius: 10px;
  /* color: black; */
  padding: 10px;
  margin: 10px;
  width: 400px;
  text-align: center;
  /* font-family: Elegant; */
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
}

.createButton {
  border: 1px solid rgb(102, 115, 228);
  border-radius: 10px;
  color: white;
  width: 400px;
  background: rgba(90, 205, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  border: 1px solid rgb(25, 132, 15);
  background: rgba(24, 158, 33, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  padding: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  /* border: 1px solid orange; */

}

.objectItem:hover {
  border: 1px dashed yellow;
  text-shadow: 1px 1px 1px black;
  /* color: rgb(0, 255, 0); */
  /* background-image: url(https://static1.cbrimages.com/wordpress/wp-content/uploads/2018/12/r2d2.jpg);
  background-size: 600px; */
}

.expandedItem {
  background: rgba(103, 192, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(102, 115, 228);
  border-radius: 10px;
  margin-top: 10px;
  color: black
}

.expandedBody {
  display: flex;
  flex-direction: row;
}

.expandedText {
  /* border: 1px solid yellow;
  border-radius: 10px; */
  /* color: rgb(21, 122, 21); */
  color: black;
  padding: 10px;
  margin: 10px;
  width: 500px;
  height: 300px;
  text-align: center;
  /* font-family: Elegant; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.expandedImageContainer {
  /* border: 1px solid yellow;
  border-radius: 10px; */
  /* color: rgb(21, 122, 21); */
  /* color: black; */
  /* padding: 10px; */
  margin: 10px;
  width: 300px; 
  height: 200px; 
  overflow: hidden;  
  position: relative;
}

.expandedImageContainer img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 400px) {
  body {
    /* width: auto; */
    /* height: 100vh; */

    /* height: 100%; */
  }

  #root {
    width: auto;

  }

  .app {
    width: auto;

  }

  .header{
    font-size: 20px;
  }
  
  .nav {
    overflow: scroll;
    width: 300px;
    gap: 10px;
  }

  .navtext {
    font-size: 10px;
    padding: 5px;
    color: white;

  }
  
  .navtext:hover {
    /* color: rgb(43, 204, 240); */

  }
  
  .navtext.active {
    color: rgb(92, 116, 121);
  }
  
  .main {
    border-radius: 10px;
    width: 300px;
  }
  
  .home {
    padding: 14% 0;
    font-size: 20px;
    margin-top: 90px;
  }
  
  .objectList {
    border-radius: 10px;
    padding: 10px;
    width: 200px;  
    height: auto;
    max-height: 300px;



  }
  
  .objectItem {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 10px;
    height: 50px;

  }
  
  .objectItem:hover {
  }

  .createButton {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 10px;
    height: 30px;
    text-align: center;
  }
  
  .expandedItem {
    border-radius: 10px;
    margin-top: 10px;
    width: 350px;
    font-size: 10px;

  }
  
  .expandedBody {

  }
  
  .expandedText {
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 200px;
  }
  
  .expandedImageContainer {
    margin: 10px;
    width: 150px;
  }

  .form {
    max-height: 300px;
    overflow: scroll;
  }

  .ingredient-select {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px solid black;
    min-width: 200px;
  }

  .ingredient-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

  }

  .ingredient-toggle {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .ingredient-arrow {
    background-color: gray;
    border: 1px solid black;
    width: 10px;
  }

  .ingredient-amount {
    width: 10px
  }
}